<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<div>
<div>
<%= link_to "常山胡柚", root_path, id: "logo" %>
<nav>
<ul class="nav pull-middle">
	<li><%= link_to "主页", root_path %></li>
  <li><%= link_to "胡柚传说", legend_path %></li>
  <li><%= link_to "胡柚保健", healthy_path %></li>
  <li><%= link_to "胡柚论文", article_path %></li>
  <li><%= link_to "胡柚视频", video_path %></li>
  <li><%= link_to "胡柚推广", publish_path %></li>          
</ul>
    
</nav>
</div>      
      
</div>
</div>
</div>
</header>